<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Finder</title>
</head>
<body>
    <h1>{{ weather.city }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter city name" id="">
        <button type="submit">Saerch</button>
    </form>
    <h2>Temparature: {{ weather.temp }}</h2>
    <h2>{{ weather.description }}</h2>
    <h2>{{ weather.icon }}</h2>
    <h2>Feels like: {{ weather.feels_like }}</h2>
    <h2>Wind speed:  {{ weather.wind_speed }}</h2>
    <h2>Date: {{ weather.day }}</h2>
</body>
</html>